.text{
  font-size: 15px;
  width:100%;
}
.text span{
  position: absolute;
  right:5%;
  transform:translateX(-50%);
}
*{
  scroll-behavior: smooth;
}
body{
  margin:0;
  padding:0;
  font-family: 'Sawarabi Mincho', sans-serif;
  width:100%;
  overflow-x: hidden;
}

header{
  height:97vh;
  width:100%;
  position: relative;
  margin:0;
  padding:0;
}

.header_img{
  width:92%;
  height:90vh;
  overflow: hidden;
  position: absolute;
  left:50%;
  top:1%;
  transform:translateX(-50%);
  /* margin-top:0px; */
}

.header_bg{
  width:100%;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}
.header_bg img{
  width:100%;
}
.header_logo{
  z-index:2;
  position:absolute;
  right:5%;
  top:30%;
  width:400px;
  transform:translate(-50%,-50%);
}
.header_menu{
 position:absolute;
 bottom:-2%;
 right:4%;
 width:450px;
}
.header_menu ul{
  display: flex;
  width:450px;
  padding:0;
  margin:16px 0;
}
.header_menu li{
  list-style: none;
  font-size:20px;
  width:150px;
  text-align: center;
  transition:0.3s;
}
.header_menu li a:hover{
  opacity:.6;
}
.header_menu li:nth-child(1){
  border-left:2px solid #80727b;
  border-right:2px solid #80727b;
}
.header_menu li:nth-child(3){
  border-left:2px solid #80727b;
  border-right:2px solid #80727b;
}
.header_menu a{
  text-decoration: none;
  color:#80727b;
  cursor: pointer;
}
.nature_name{
  width:100%;
  text-align: center;
  font-size: 1.7rem;
}
.nature_name h1{
  margin:10px 0;
  color:#909580;
  font-weight: normal;
}

.menu h2{
  font-size:3rem;
  text-align: center;
  width:100%;
  color:#909580;
  position: relative;
  font-weight: normal;
  margin:30px 0;
  line-height: 1.5;
}
.menu h2:after{
  content:'';
  position:absolute;
  bottom:5%;
  left:50%;
  transform:translateX(-50%);
  width:100px;
  height:1px;
  border-bottom:3px solid #909580;
}
.menu>div ul{
  display:flex;
  margin:0 auto;
  width:1006px;
  padding:0;
}

.menu>div ul li{
  list-style: none;
  border-top: 4px double #BBACC1;
  width:488px;
  height:60px;
  margin:0 10px;
  position: relative;
}
.main_menu ul:nth-child(3) li,.menu_treatment ul li,.menu_shampoo ul li{
  border-bottom: 4px double #BBACC1;
}
.menu>div ul li p{
  position:absolute;
  top:30px;
  color:#666;
  transform:translate(-50%,-50%);
  margin:0;
  font-size: 15px;
}
.menu>div ul li p:nth-child(1){
  left:5%;
  transform:translateY(-50%);
}
.menu>div ul li p:nth-child(2){
  right:5%;
}
.main_menu>p{
  font-size: 13px;
  color:#666;
  width:986px;
  margin:5px auto;
}
.menu_h{
  width:1147px;
  margin:0 auto;
  position:relative;
}
.menu_h h3{
  font-size:48px;
  color:#909580;
  font-weight: normal;
  margin:48px 0;
}
.menu_h h3:after{
  content:'';
  position: absolute;
  top:50%;
  transform:translateY(-50%);
  width:1028px;
  height:0px;
  margin-left:38px;
  border-top:3px dashed #909580;
}
.menu_treatment h3:after{
  width:861px;
}
.menu_shampoo h3:after{
  width:898px;
}
.menu .menu_shampoo ul li,.menu .menu_treatment ul li{
  height:100px;
}
.menu_shampoo ul li:after,.menu_treatment ul li:after{
  content:'';
  border-top:1px solid #ddd;
  position:absolute;
  width:400px;
  left:50%;
  transform:translate(-50%,-50%);
  top:50px;
}
.menu .menu_shampoo ul li>p,.menu .menu_treatment ul li>p{
  top:75px;
  width:85%;
  text-align: center;
  font-size: 13px;
  left:50%;
}
.menu_intro{
  position:relative;
  width:1024px;
  height:400px;
  display: flex;
  margin:60px auto;
}
.menu_intro_h{
  position:absolute;
  left:25%;
  height:100%;
  width:488px;
  transform:translateX(-50%);
  text-align: center;
  font-size: 32px;
  margin-top:30px;
}
.menu_intro_h span{
  font-size: 48px;
  color:#C95EB4;
}
.menu_intro_h p:nth-child(1){
  margin:32px 0;
}
.menu_intro_h p:nth-child(2){
  position:absolute;
  color:#666;
  line-height: 30px;
  font-size: 14px;
  width:100%;
  left:50%;
  top:240px;
  text-align: center;
  transform: translate(-50%,-50%);
  margin:14px 0;
}

.menu_intro img{
  height:374px;
  width:498px;
  position:absolute;
  left:75%;
  transform:translateX(-50%);
  box-shadow:0px 0px 10px 1px #ccc;
}
.menu_shampoo .menu_intro_h{
  left:75%;
}
.menu_shampoo .menu_intro img{
  left:25%;
  width:509px;
  height:auto;
}
footer{
  height:630px;
  width:100%;
  padding:0;
}
.footer_p{
  height:200px;
  text-align: center;
  position: relative;
  color:#666;
}
.footer_p p{
  margin:0;
}
.footer_p h2{
  position:absolute;
  left:35%;
  top:60%;
  transform:translate(-50%,-50%);
  border-bottom:2px solid #666;
  font-size: 28px;
  font-weight: normal;
  margin:0;
}
.footer_p_2{
  position:absolute;
  left:65%;
  top:60%;
  transform:translate(-50%,-50%);
}
footer iframe{
  height:450px;
  width:100%;
}
.footer_alert{
  width:100%;
  height:30px;
  background:#666;
  transform:translateY(-6px);
  position:relative;
}
.footer_alert:hover{
  background:rgba(96,96,96,0.8);
}
.footer_alert p{
  color:#eee;
  margin:0;
  position:absolute;
  top:50%;
  left:50%;
  width:100%;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1.5px;
  transform:translate(-50%,-50%);
}
@media(max-width:1050px){
  header{
    height:100vh;
  }
  .header_menu{
    left:0;
    width:100%;
    background: rgba(255,255,255,0.7);
    bottom:0;
  }
  .header_menu ul{
    width:100%;
  }
  .header_menu ul li{
    width:calc(100% / 3);
  }
  .header_menu ul li:nth-child(1){
    border-left:0;
  }
  .header_menu ul li:nth-child(3){
    border-right:0;
  }
  .header_img{
    width:1050px;
    height:100vh;
    top:0;
  }
  .header_bg{
    width:1050px;
    height:100vh;
    overflow: hidden;
  }
 .header_bg img{
   height:100vh;
   width:auto;
   left:70%;
}
 .header_logo{
   height:40%;
   width:auto;
   top:50%;
   left:50%;
   transform: translate(-50%,-50%);
 }
 .nature_name{
   font-size:1.2rem;
   margin:20px 0;
 }
 .menu>h2{
   margin-top:20px;
   font-size:2rem;
 }
 .menu>div ul{
   display:block;
   width:85%;
 }
 .menu>div ul li{
   width:100%;
   margin:0;
 }
 .menu>div ul li:nth-child(1){
   border-bottom:0;
 }
 .main_menu>p{
   width:85%;
 }
 .menu_intro{
   width:100%;
   height:630px;
   position:relative;
   margin-bottom: 0;
 }
 .menu_intro_h{
   top:57%;
   left:50%;
   height:240px;
   margin-bottom: 15px;
   margin-top:0px;
 }
 .menu_intro img{
   width:50%;
   height:auto;
   left:50%;
 }
  .menu_shampoo  .menu_intro img{
    left:50%;
  }
 .menu_shampoo .menu_intro_h{
   left:50%;
 }
 .menu_intro_h p:nth-child(2){
   font-size: 13px;
   line-height: normal;
   top:200px;
 }
 .menu_h{
   text-align: center;
   width:100vw;
 }
 .menu_h h3{
   font-size:30px;
   color:#909580;
   font-weight: normal;
   margin-bottom: 20px;
 }
 .menu_h h3:before{
   content:'';
   position: absolute;
   left:17%;
   top:50%;
   transform:translate(-50%,-50%);
   width:calc(50vw - 150px);
   height:0px;
   border-top:3px dashed #909580;
 }
 .menu_h h3:after{
   content:'';
   position: absolute;
   top:50%;
   transform:translate(-50%,-50%);
   width:calc(50vw - 150px);
   height:0px;
   left:83%;
   margin:0;
   border-top:3px dashed #909580;
 }
 .menu_shampoo ul li:after,.menu_treatment ul li:after{
   width:90%;
 }
 footer{
   height:auto;
 }
 footer iframe{
   height:30vh;
 }
 .footer_alert{
   padding:5px 0;
   transform:translateY(-3px);
 }
 .footer_p{
   height:140px;
 }
 .footer_p h2{
   left:25%;
 }
 .footer_p_2{
   left:75%;
   width:45%;
   font-size:13px;
 }
}
@media(max-width:430px){
  .menu_intro{
    height:430px;
  }
  .menu_intro_h{
    top:55%;
    font-size: 24px;
  }
  .menu_intro_h span{
    font-size: 32px;
  }
  .menu_intro_h p:nth-child(2){
    top:140px;
    width:300px;
  }
  .menu_intro img{
    width:85%;
  }
  .menu_treatment .menu_intro{
    height:470px;
  }
   .menu_shampoo  .menu_intro img{
     width:85%;
   }
   .menu_shampoo li:nth-child(2) p:nth-child(1){
     font-size:13px;
   }
   .menu .menu_shampoo ul li:nth-child(2){
     height:120px;
   }
   .menu .menu_shampoo ul li:nth-child(2)>p{
     top:85px;
   }
   .menu .menu_shampoo li:nth-child(2)>p,.menu .menu_treatment li:nth-child(2)>p{
     font-size:13px;
   }
   .footer_p_2{
     left:70%;
     width:53%;
   }
}
@media(max-width:400px){
  .menu .menu_shampoo ul li:nth-child(2){
    height:150px;
  }
  .menu .menu_shampoo ul li:nth-child(2):after{
    top:80px;
  }
  .menu .menu_shampoo ul li:nth-child(2)>p{
    top:115px;
  }
  .menu .menu_shampoo ul li:nth-child(2) span{
    top:30px;
    font-size:15px;
  }
}
@media(max-height:800px) {
  @media(min-height:760px){
    .header_bg{width:100%;left:50%;}
    .menu_intro img{
      width:50%;
    }
  }
}

@media(max-height:1050px) {
  @media(min-height:1000px){
    @media(max-width:800px) {
      @media(min-width:760px) {
        .menu_treatment .menu_intro{
          height:500px;
        }
        .menu_intro_h{
          top:60%;
        }
       }
     }
    }
  }
